:root {
	--backgroundColor: rgba(246, 241, 209);
	--colorShadeA: rgb(106, 163, 137);
	--colorShadeB: rgb(121, 186, 156);
	--colorShadeC: rgb(150, 232, 195);
	--colorShadeD: rgb(187, 232, 211);
	--colorShadeE: rgb(205, 255, 232);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "OpenSans", sans-serif;
	font-size: 1rem;
	line-height: 1.2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	/* min-height: 100vh; */
	background: var(--backgroundColor);
}
button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--colorShadeA);
	font-weight: 700;
	text-transform: uppercase;
	font-family: inherit;
}

button.big-button {
	padding: 1em 2em;
	border: 2px solid var(--colorShadeA);
	border-radius: 1em;
	background: var(--colorShadeE);
	transform-style: preserve-3d;
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--colorShadeC);
	border-radius: inherit;
	box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
	transform: translate3d(0, 0.75em, -1em);
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
	background: var(--colorShadeD);
	transform: translate(0, 0.375em);
}

button.big-button:hover::before {
	transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
	transform: translate(0em, 0.75em);
}

button.big-button:active::before {
	transform: translate3d(0, 0, -1em);

	box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

#paper {
	position: absolute;
	width: 15%;
	height: fit-content;
	left: 25px;
	top: 10px;
	padding: 5px;
	color: blue;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	z-index: 1;
	background-color: rgba(250, 183, 57, 0.3);
}
#plastic {
	position: absolute;
	width: 15%;
	height: fit-content;
	left: 25px;
	top: 10px;
	padding: 5px;
	color: yellow;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	z-index: 1;
	background-color: rgba(238, 130, 238, 0.3);
}
#glass {
	position: absolute;
	width: 15%;
	height: fit-content;
	left: 25px;
	top: 10px;
	padding: 5px;
	color: green;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	z-index: 1;
	background-color: rgba(255, 0, 0, 0.3);
}
#total {
	position: absolute;
	width: 15%;
	height: fit-content;
	right: 25px;
	top: 10px;
	padding: 5px;
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.3);
}

#animToolBtn {
	position: fixed;
	width: fit-content;
	height: fit-content;
	right: 10px;
	top: 10px;
	padding: 5px;
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.3);
}

.animToolLogBtn {
	/* position: relative; */
	width: fit-content;
	height: fit-content;
	/* right: 10px;
	top: 10px; */
	padding: 5px;
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.3);
}

.animTool {
	position: fixed;
	width: fit-content;
	height: fit-content;
	left: 10px;
	top: 10px;
	padding: 5px;
	color: rgb(0, 0, 0);
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.6);
}

.timer {
	position: absolute;
	width: auto;
	height: auto;
	bottom: 10px;
	/* padding: 5px; */
	color: rgb(50, 0, 0);
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	z-index: 10;
	background-color: rgba(255, 255, 205, 0.3);
}

.pause {
	position: absolute;
	width: 100%;
	height: 100%;
	/* bottom: 10px; */
	/* padding: 5px; */
	color: rgb(50, 0, 0);
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	z-index: 10;
	background-color: rgba(255, 255, 175, 0.8);
}

.gameover {
	position: absolute;
	width: 100%;
	height: 100%;
	/* bottom: 10px; */
	/* padding: 5px; */
	color: rgb(40, 90, 44);
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	z-index: 10;
	background-color: rgba(75, 1, 1, 0.8);
}

.userMessage {
	position: relative;
	width: max-content;
	height: fit-content;
	left: 50%;
	top: 25%;
	padding: 5px;
	color: rgb(0, 0, 0);
	text-align: center;
	font-weight: bolder;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	z-index: 1;
	background-color: rgb(255, 255, 255);
}

@keyframes loadingScreen {
	0% {
		transform: scaleY(0.1);
		background: #fff;
	}
	25% {
		transform: scaleY(1);
		background: rgb(110, 255, 91);
	}
	50% {
		transform: scaleY(0.1);
		background: rgb(175, 255, 244);
	}
	75% {
		transform: scaleY(1);
		background: rgb(75, 87, 255);
	}
	100% {
		transform: scaleY(0.1);
		background: rgb(255, 255, 255);
	}
}

@keyframes userMessageAnimation {
	0% {
		background: rgba(255, 255, 255, 0.8);
		color: rgba(0, 0, 0, 0.8);
	}
	75% {
		background: transparent;
		color: transparent;
	}
	100% {
		color: transparent;
		background: transparent;
	}
}
